# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# Compiled extensions
*.so

# ==========================================================
# Virtual environments
# ==========================================================

.venv/
venv/
env/
ENV/

# ==========================================================
# Environment variables / secrets
# ==========================================================

.env
.env.*
!.env.example

# ==========================================================
# Testing
# ==========================================================

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# ==========================================================
# Type checkers / linters
# ==========================================================

.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# ==========================================================
# Packaging / build
# ==========================================================

build/
dist/
*.egg-info/
.eggs/

docs/

# ==========================================================
# IDE
# ==========================================================

.idea/
.vscode/

# ==========================================================
# Other
# ==========================================================
dist/
build/
*.spec
*.bat
*.old